
.panel-header {
    height: 500px;

    .tabs {
        list-style: none;
        margin: 10px 0px;
        padding: 0;
        text-align: center;
        position: absolute;
        top: 400px;

        &:after {
            content: '';
            display: block;
            clear: both;
        }

        li {
            margin: 0px 0px 0px -4px;
            display: inline-block;
            padding: 0px 10px;
            background: red;

            a {
                text-decoration: none;
                color: #fff;
            }

            &:last-child {
                border: none;
            }
            /*position: absolute;*/
        }

        .home {
        }

        .area {
        }

        .town {
        }

        .happy {
        }

        .recommend {
        }

        .contact {
        }
    }
}
