.header.noop button {
    display: none;
}
.main {
    max-width: 900px;
    margin: auto;
}
.main .header {
    display: none;
    background: yellow;
    padding: 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: red;
    height: 40px;
    line-height: 40px;
}
.main.temp .header {
    display: block;
}
.main .form-table .name {
    width: 70px;
}
