.dialog-error {
    margin-top: initial !important;
}
.dialog-error h1 {
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background: #FF5722;
    padding: 4px 0px;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 2px;
}
.dialog-error textarea {
    height: 380px;
    width: 100%;
    font-size: 14px;
}
