

body {
    font-size: 1.0em;
    margin: 0;
    background: #ffffff;
    font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif;
    font-style: normal;
    background: url(../img/banner.png) no-repeat;
    /*background-size: 100%;*/
    background-size: auto 360px;
    background-position-x: 51%;

    &.no-bg {
        background: none;

        .container {
            width: 886px;
        }
    }
}

textarea,
input[type="text"] {
    font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif;
}


.container {
    width: 950px;
    margin: 0px auto 50px auto;

    .header {
        height: 500px;
        /*border: solid 1px #ddd;*/
    }
}


.g-show-signup {
    text-align: center;
    margin: 0;

    button {
        background-color: #EC7241;
        border: none;
        color: #fff;
        padding: 5px 50px;
        font-size: 25px;
        border-radius: 10px;
        cursor: pointer;
        outline: none;

        &:active {
            background: #FFA513;
        }
    }
}
