
/.svn


/admin/bin/node_modules
/admin/build
/admin/htdocs/style/css
/admin/htdocs/**/index.html

/demo/bin/node_modules
/demo/build
/demo/htdocs/style/css
/demo/htdocs/**/index.html


/permit/bin/node_modules
/permit/build
/permit/htdocs/style/css
/permit/htdocs/**/index.html


/permit/server/node_modules



/old/bin/node_modules
/old/build
/old/lib/kerp/bin/node_modules
/old/lib/kerp/build


/prize/bin/node_modules
/prize/build
/prize/htdocs/index.html
/prize/htdocs/style/css

