

.view-news-detail {

    .main {
        background: #fff;
    }

    .header {

        img.cover {
            width: 3.75rem;
        }

        .price {
            position: absolute;
            top: 0.30rem;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 0.05rem 0.10rem 0.05rem 0.30rem;
        }


        .content {
            font-size: 0.15rem;
            margin: 0.0rem 0.20rem 0.20rem 0.20rem;

            .left {
                float: left;

                li {
                    margin: 0.05rem 0px;
                }

                .title {
                    font-size: 0.24rem;
                    /* font-weight: bold; */
                    color: #E88D07;
                }
            }

            .right {
                float: right;
                margin-top: 0.33rem;
                text-align: center;

                img {
                    width: 0.27rem;
                }
            }

            &:after {
                content: '';
                display: block;
                clear: both;
            }
        }
    }
}
