<html>
<head>
    <meta http-equiv="Content-type" Content="text/html;charset=utf-8" />
    <title>砸金蛋 - 佛山禅城房博会</title>
    <link rel="stylesheet" href="./Resource/Css/reset.css" />
    <link rel="stylesheet" href="./Resource/Css/style.css" />
</head>
<body>
    <div id="canvas-box" class="canvas-box">
        <canvas id="canvas" width="1200" height="600"></canvas>
        <div class="canvas-tool clearfix" id="canvas-tool">
            <a href="javascript:;" class="cancel btn" id="cancel-btn">取消</a>
            <a href="javascript:;" class="close btn hidden" id="close-btn">关闭</a>
            <div class="beat-egg-container">
                <a href="javascript:;" class="beat-egg btn" id="beat-egg-btn">砸蛋</a>
            </div>

        </div>
    </div>

    <div class="main" id="main">
        <div class="container">
            <div id="egg-container" class="egg-container">
                <ul class="clearfix"></ul>
            </div>
        </div>
    </div>


    <script type="text/x-jquery-tmpl" id="eggTmpl">
    <li class="prize-egg-li {{if complete}} complete {{/if}} {{if !success}} fail {{/if}}">
        <a class="prize-egg-a">
            <div class="egg2_2"></div>
            <div class="egg_gift">
                <img src="{{= img}}" />
            </div>
            <div class="egg2_1"></div>
            <i>{{= i}}</i>
        </a>
    </li>
    </script>
    <script src="Resource/Js/prizeGroup.js"></script>
    <script src="./Resource/Js/jquery.js"></script>
    <script src="./Resource/Js/jquery.tmpl.js"></script>
    <script src="./Resource/Js/util.js"></script>
    <script src="./Resource/Js/Firework/Firework.js"></script>
    <script src="./Resource/Js/Firework/Particle.js"></script>
    <script src="./Resource/Js/Egg/beat.js"></script>
    <script src="./Resource/Js/Egg/prize.js"></script>
    <script src="./Resource/Js/Egg/egg.js"></script>
    <script src="./Resource/Js/Egg/stage.js"></script>
    <script src="./Resource/Js/game.js"></script>
</body>
</html>