body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../导购-微信收到促销包链接_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:6px;
    top:6px;
    width:323px;
    height:496px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:329px;
    height:502px;
}

.u1 {
    position:absolute;
    left:2px;
    top:240px;
    width:319px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:6px;
    top:6px;
    width:323px;
    height:496px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:323px;
    height:496px;
}

.u3 {
    position:absolute;
    left:2px;
    top:240px;
    width:319px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../导购-微信收到促销包链接_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:58px;
    top:346px;
    width:215px;
    height:92px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:221px;
    height:98px;
}

.u5 {
    position:absolute;
    left:2px;
    top:38px;
    width:211px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:66px;
    top:351px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:122px;
    top:375px;
    width:151px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../导购-微信收到促销包链接_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:66px;
    top:375px;
    width:52px;
    height:54px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:54px;
}

.u9 {
    position:absolute;
    left:2px;
    top:19px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

