.panel-keypoint {
  margin-top: 10px;
}
.panel-keypoint .banner {
  background: #0D265C;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 40px;
  background: url('../img/banner-keypoint.jpg') no-repeat;
  height: 55px;
  line-height: 55px;
}
.panel-keypoint .photos {
  /*border: solid 1px #ddd;*/
  text-align: center;
  padding: 10px 0px 0px 0px;
}
.panel-keypoint .photos ul {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.39);
  margin: 0;
  position: relative;
  top: -25px;
  right: -6px;
  display: -webkit-box;
  -webkit-box-pack: end;
  width: 99%;
  /*&:after {
                content: '';
                display: inline-block;
                clear: both;
            }*/
}
.panel-keypoint .photos li {
  padding: 0px 6px;
  background: black;
  color: #fff;
  margin: 0px 4px;
  font-size: 12px;
  list-style: none;
  cursor: pointer;
  border: solid 1px black;
}
.panel-keypoint .photos li.on {
  background: red;
}
