body {
  font-size: 1.0em;
  margin: 0;
  background: #ffffff;
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
  font-style: normal;
  background: url(../img/body-bg.jpg) no-repeat;
  background-size: 100%;
}
textarea,
input[type="text"] {
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}
.container {
  width: 950px;
  margin: 0px auto 50px auto;
}
.container .header {
  height: 500px;
  /*border: solid 1px #ddd;*/
}
