.panel-license {
    margin: auto;
    max-width: 900px;
}
.panel-license > .header {
    /*隐藏操作按钮*/
}
.panel-license > .header.noop .toolbar {
    display: none;
}
.panel-license > .header .toolbar {
    position: relative;
}
.panel-license > .header .toolbar button {
    position: absolute;
    right: 7px;
    top: 3px;
    background: #8BC34A;
    border: none;
    color: #fff;
    padding: 0px 15px 0px 15px;
    font-size: 13px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    height: 26px;
    line-height: 26px;
    /* font-weight: bold; */
}
.panel-license > .header .toolbar button i {
    margin-right: 4px;
}
.panel-license > .header .name {
    background: #4C4C4C;
    color: #fff;
    text-align: left;
    font-weight: bold;
    padding: 6px 5px;
    font-size: 14px;
    border-bottom: solid 1px #9E9E9E;
}
.panel-license .list.nodata {
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 5px;
    line-height: 175px;
    border: solid 1px #D4D5DE;
    color: #7c7c7d;
    font-size: 16px;
}
.panel-license .list.nodata:after {
    content: '暂无数据';
}
.panel-license .list.nodata table {
    display: none;
}
