

.view-house-list {

    .main {
        background: #fff;
    }

    .bar {
        background: url(../img/house-bar.png);
        height: 0.35rem;
        background-size: 100%;
    }

    .header {

        h1 {
            font-size: 0.2rem;
            text-align: center;
            color: red;
            padding: 0.05rem 0px;
            font-weight: normal;
        }

        p.count {
            text-align: center;
            margin: 0px 0px 0.05rem 0px;
            font-size: 0.15rem;
            color: #909090;
        }

        border-bottom: solid 1px #EBEBEB;
    }

    ul.list {
        background: #fff;

        .item {
            background: #fff;
            border-bottom: 1px solid #d4d5de;
            margin-bottom: 5px;

            .cover {
                position: relative;

                img {
                    width: 100%;
                }

                .desc {
                    position: absolute;
                    bottom: 0.05rem;
                    background: rgba(0, 0, 0, 0.5);
                    color: #fff;
                    padding: 0.05rem 0.10rem 0.05rem 0.10rem;
                }
            }

            .content {
                font-size: 0.14rem;
                margin: 0.0rem 0.10rem 0.20rem 0.10rem;

                .left {
                    float: left;
                    max-width: 65%;

                    li {
                        margin: 0.05rem 0px;
                    }

                    .title {
                        font-size: 0.20rem;
                        color: #FF9800;
                    }
                }

                .right {
                    float: right;
                    margin-top: 0.3rem;
                    text-align: center;
                    max-width: 35%;

                    img {
                        width: 0.20rem;
                    }

                    a {
                        text-decoration: none;
                        color: #2196F3;
                    }
                }

                &:after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }
        }
    }
}
