body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../门店会员订单提交_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:6px;
    width:328px;
    height:633px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:334px;
    height:639px;
}

.u1 {
    position:absolute;
    left:2px;
    top:308px;
    width:324px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../门店会员订单提交_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:9px;
    top:6px;
    width:328px;
    height:45px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:334px;
    height:51px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:324px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../门店会员订单提交_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:18px;
    top:16px;
    width:35px;
    height:25px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:25px;
}

.u5 {
    position:absolute;
    left:2px;
    top:4px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../门店会员订单提交_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:7px;
    top:52px;
    width:10px;
    height:80px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:80px;
}

.u7 {
    position:absolute;
    left:2px;
    top:32px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../门店会员订单提交_files/u6_normal.png');
}

.u8_container {
    position:absolute;
    left:331px;
    top:52px;
    width:10px;
    height:80px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:80px;
}

.u9 {
    position:absolute;
    left:2px;
    top:32px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:25px;
    top:61px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:25px;
    top:87px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:231px;
    top:61px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../门店会员订单提交_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:11px;
    top:588px;
    width:326px;
    height:51px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:332px;
    height:57px;
}

.u14 {
    position:absolute;
    left:2px;
    top:18px;
    width:322px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:23px;
    top:605px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../门店会员订单提交_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:256px;
    top:597px;
    width:77px;
    height:33px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:39px;
}

.u17 {
    position:absolute;
    left:2px;
    top:8px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_line {
    background-image: url('../门店会员订单提交_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:0px;
    top:4px;
    width:326px;
    height:3px;
}

.u18 {
    position:absolute;
    left:11px;
    top:226px;
    width:326px;
    height:10px;
    
}

.u19 {
    position:absolute;
    left:17px;
    top:144px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:16px;
    top:0px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:16px;
    top:0px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../门店会员订单提交_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:17px;
    top:174px;
    width:312px;
    height:42px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:318px;
    height:48px;
}

.u25 {
    position:absolute;
    left:2px;
    top:13px;
    width:308px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:87px;
    top:61px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:100px;
    top:87px;
    width:225px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../门店会员订单提交_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:318px;
    height:3px;
}

.u28 {
    position:absolute;
    left:14px;
    top:124px;
    width:318px;
    height:10px;
    
}

.u29 {
    position:absolute;
    left:18px;
    top:243px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_line {
    background-image: url('../门店会员订单提交_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:0px;
    top:4px;
    width:321px;
    height:3px;
}

.u30 {
    position:absolute;
    left:11px;
    top:265px;
    width:321px;
    height:10px;
    
}

.u31 {
    position:absolute;
    left:195px;
    top:243px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../门店会员订单提交_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:289px;
    top:236px;
    width:40px;
    height:30px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:30px;
}

.u33 {
    position:absolute;
    left:2px;
    top:7px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../门店会员订单提交_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:11px;
    top:528px;
    width:326px;
    height:60px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:332px;
    height:66px;
}

.u35 {
    position:absolute;
    left:2px;
    top:22px;
    width:322px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:204px;
    top:536px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:16px;
    top:536px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:52px;
    top:562px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:204px;
    top:562px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../门店会员订单提交_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:24px;
    top:562px;
    width:17px;
    height:16px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u41 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../门店会员订单提交_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:18px;
    top:281px;
    width:69px;
    height:68px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:68px;
}

.u43 {
    position:absolute;
    left:2px;
    top:26px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:98px;
    top:278px;
    width:163px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../门店会员订单提交_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:272px;
    top:318px;
    width:15px;
    height:14px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:14px;
}

.u46 {
    position:absolute;
    left:2px;
    top:-1px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:296px;
    top:317px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:98px;
    top:320px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_line {
    background-image: url('../门店会员订单提交_files/u49_line.png');
}

.u49_line {
    position:absolute;
    left:0px;
    top:4px;
    width:317px;
    height:3px;
}

.u49 {
    position:absolute;
    left:20px;
    top:346px;
    width:317px;
    height:10px;
    
}

.u50_normal {
    background-image: url('../门店会员订单提交_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:25px;
    top:360px;
    width:57px;
    height:61px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:61px;
}

.u51 {
    position:absolute;
    left:2px;
    top:22px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:92px;
    top:359px;
    width:153px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../门店会员订单提交_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:272px;
    top:403px;
    width:14px;
    height:14px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:14px;
}

.u54 {
    position:absolute;
    left:2px;
    top:-1px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:296px;
    top:403px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:98px;
    top:401px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_line {
    background-image: url('../门店会员订单提交_files/u57_line.png');
}

.u57_line {
    position:absolute;
    left:0px;
    top:4px;
    width:317px;
    height:3px;
}

.u57 {
    position:absolute;
    left:20px;
    top:431px;
    width:317px;
    height:10px;
    
}

.u58_normal {
    background-image: url('../门店会员订单提交_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:25px;
    top:451px;
    width:57px;
    height:51px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:51px;
}

.u59 {
    position:absolute;
    left:2px;
    top:18px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:92px;
    top:446px;
    width:158px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../门店会员订单提交_files/u53_normal.png');
}

.u61_container {
    position:absolute;
    left:272px;
    top:503px;
    width:14px;
    height:14px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:14px;
}

.u62 {
    position:absolute;
    left:2px;
    top:-1px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:296px;
    top:502px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:92px;
    top:502px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u65 {
    position:absolute;
    left:11px;
    top:51px;
    width:327px;
    height:538px;
    overflow:hidden;
}

#pd0u65 {
    position:absolute;
    left:0px;
    top:0px;
    width:327px;
    height:538px;
    
}

.u66_normal {
    background-image: url('../门店会员订单提交_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:3px;
    top:3px;
    width:322px;
    height:76px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:328px;
    height:82px;
}

.u67 {
    position:absolute;
    left:2px;
    top:30px;
    width:318px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:21px;
    top:26px;
    width:265px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u69 {
    position:absolute;
    left:3px;
    top:3px;
    width:323px;
    height:532px;
    overflow:hidden;
}

#pd0u69 {
    position:absolute;
    left:0px;
    top:0px;
    width:323px;
    height:532px;
    
}

.u70_normal {
    background-image: url('../门店会员订单提交_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:3px;
    top:3px;
    width:316px;
    height:525px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:322px;
    height:531px;
}

.u71 {
    position:absolute;
    left:2px;
    top:254px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_line {
    background-image: url('../门店会员订单提交_files/u74_line.png');
}

.u74_line {
    position:absolute;
    left:0px;
    top:4px;
    width:316px;
    height:3px;
}

.u74 {
    position:absolute;
    left:3px;
    top:39px;
    width:316px;
    height:10px;
    
}

.u75_line {
    background-image: url('../门店会员订单提交_files/u75_line.png');
}

.u75_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:17px;
}

.u75 {
    position:absolute;
    left:249px;
    top:16px;
    width:10px;
    height:17px;
    
}

.u76 {
    position:absolute;
    left:209px;
    top:18px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:272px;
    top:18px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../门店会员订单提交_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:3px;
    top:42px;
    width:316px;
    height:80px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:322px;
    height:86px;
}

.u79 {
    position:absolute;
    left:2px;
    top:32px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:23px;
    top:52px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:228px;
    top:52px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:23px;
    top:78px;
    width:157px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_line {
    background-image: url('../门店会员订单提交_files/u83_line.png');
}

.u83_line {
    position:absolute;
    left:0px;
    top:4px;
    width:316px;
    height:3px;
}

.u83 {
    position:absolute;
    left:3px;
    top:480px;
    width:316px;
    height:10px;
    
}

.u84_normal {
    background-image: url('../门店会员订单提交_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:109px;
    top:490px;
    width:95px;
    height:32px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:38px;
}

.u85 {
    position:absolute;
    left:2px;
    top:8px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_line {
    background-image: url('../门店会员订单提交_files/u88_line.png');
}

.u88_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:17px;
}

.u88 {
    position:absolute;
    left:249px;
    top:132px;
    width:10px;
    height:17px;
    
}

.u89 {
    position:absolute;
    left:209px;
    top:134px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:272px;
    top:134px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../门店会员订单提交_files/u78_normal.png');
}

.u91_container {
    position:absolute;
    left:3px;
    top:158px;
    width:316px;
    height:80px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:322px;
    height:86px;
}

.u92 {
    position:absolute;
    left:2px;
    top:32px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:23px;
    top:168px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:228px;
    top:168px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:23px;
    top:194px;
    width:157px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

