.page-label {
  font-size: 12px;
}
.page-label li {
  position: relative;
  float: left;
  border: 1px solid #dbdee6;
  height: 22px;
  line-height: 22px;
  margin-left: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.page-label li:first-child {
  margin-left: 0;
}
.page-label li > label {
  padding: 0 5px;
}
.page-label li > input {
  text-align: center;
  border: none;
  width: 50px;
  background-color: transparent;
  padding: 0 6px;
  line-height: 20px;
  height: 20px;
}
.page-label li > input:focus {
  background: #fff;
}
.page-label .left-btn a {
  padding: 0 11px;
}
.page-label .left-btn i {
  top: 4px;
  left: -1px;
  position: absolute;
  border: solid;
  border-color: transparent #7f8390 transparent transparent;
  border-width: 7px;
}
.page-label .right-btn a {
  padding: 0 11px;
}
.page-label .right-btn i {
  top: 3px;
  left: 8px;
  position: absolute;
  border: solid;
  border-color: transparent transparent transparent #7f8390;
  border-width: 7px;
}
.page-label:before,
.page-label:after {
  content: " ";
  display: table;
}
.page-label:after {
  clear: both;
}
.page-label .disabled {
  cursor: default;
}
.pagination {
  font-size: 12px;
  color: #282828;
}
.pagination > li {
  float: left;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
}
.pagination .buttons .LR-button {
  position: relative;
  float: left;
  margin-left: 6px;
  border: 1px solid #dbdee6;
  height: 23px;
  line-height: 23px;
  padding-left: 11px;
  padding-right: 11px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #282828;
}
.pagination .buttons .LR-button:hover {
  color: #54add3;
}
.pagination .buttons .LR-button .right-btn {
  top: 4px;
  left: 9px;
  position: absolute;
  border: solid;
  border-color: transparent transparent transparent #7f8390;
  border-width: 7px;
}
.pagination .buttons .LR-button .left-btn {
  top: 4px;
  left: -1px;
  position: absolute;
  border: solid;
  border-color: transparent #7f8390 transparent transparent;
  border-width: 7px;
}
.pagination .buttons .item {
  float: left;
  margin-left: 6px;
  border: 1px solid #dbdee6;
  height: 23px;
  line-height: 23px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.pagination .buttons .item:hover {
  background-color: #54add3;
  color: #ffffff;
  border-color: transparent;
}
.pagination .buttons .more {
  float: left;
  margin-left: 6px;
  height: 26px;
  line-height: 26px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-color: transparent;
  cursor: auto;
}
.pagination .buttons .more:hover {
  background-color: #ffffff;
  color: #282828;
}
.pagination .buttons .more:after {
  content: "...";
  display: inline;
}
.pagination .buttons li:first-child {
  margin-left: 0px;
}
.pagination .buttons .active {
  color: #54add3;
  border-color: transparent;
}
.pagination .buttons .active:hover {
  background-color: transparent;
  color: #54add3;
}
.pagination .buttons .disabled {
  cursor: default;
}
.pagination .buttons .disabled:hover {
  border-color: #dbdee6;
  background-color: #ffffff;
  color: #282828;
}
.pagination .buttons:before,
.pagination .buttons:after {
  content: " ";
  display: table;
}
.pagination .buttons:after {
  clear: both;
}
.pagination .page-count {
  margin: 0 10px;
}
.pagination .page-jump {
  margin-left: 10px;
}
.pagination .page-jump span {
  margin: 0 10px;
}
.pagination .page-jump .page-number {
  width: 40px;
  border: 1px solid #dbdee6;
  padding: 6px 0;
  text-align: center;
  height: 12px;
  line-height: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.pagination .page-jump .jump-button {
  display: inline-block;
  padding: 0 10px;
  background-color: #54add3;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}
.pagination:after {
  clear: both;
}
