.panel-base {
    max-width: 900px;
    margin: auto;
    margin-top: 10px;
}
.panel-base > .header .toolbar {
    position: relative;
}
.panel-base > .header .toolbar button {
    position: absolute;
    right: 7px;
    top: 3px;
    background: #03A9F4;
    border: none;
    color: #fff;
    padding: 0px 15px 0px 15px;
    font-size: 13px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    height: 26px;
    line-height: 26px;
    /* font-weight: bold; */
}
.panel-base > .header .toolbar button i {
    margin-right: 4px;
}
.panel-base > .header .name {
    background: #4C4C4C;
    color: #fff;
    text-align: left;
    font-weight: bold;
    padding: 6px 5px;
    font-size: 14px;
    border-bottom: solid 1px #9E9E9E;
}
.panel-base .form-table .name {
    width: 100px;
}
