.panel {
    margin-bottom: 40px;
}
.panel > .group {
    margin: 0px;
    padding: 2px 10px;
    font-size: 16px;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
}
.list.nodata {
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 5px;
    line-height: 80px;
    border: solid 1px #D4D5DE;
    color: #7c7c7d;
    font-size: 16px;
}
.list.nodata:after {
    content: '暂无数据';
}
.list.nodata table {
    display: none;
}
