body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../门店会员扫码选购_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:2px;
    top:2px;
    width:324px;
    height:516px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:330px;
    height:522px;
}

.u1 {
    position:absolute;
    left:2px;
    top:250px;
    width:320px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../门店会员扫码选购_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:3px;
    top:3px;
    width:323px;
    height:358px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:323px;
    height:358px;
}

.u3 {
    position:absolute;
    left:2px;
    top:171px;
    width:319px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../门店会员扫码选购_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:126px;
    top:468px;
    width:100px;
    height:50px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:56px;
}

.u5 {
    position:absolute;
    left:2px;
    top:17px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../门店会员扫码选购_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:226px;
    top:468px;
    width:100px;
    height:50px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:56px;
}

.u7 {
    position:absolute;
    left:2px;
    top:15px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../门店会员扫码选购_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:286px;
    top:444px;
    width:40px;
    height:36px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:36px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:305px;
    top:454px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

