body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../导购-选客户_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:2px;
    top:2px;
    width:325px;
    height:525px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:531px;
}

.u1 {
    position:absolute;
    left:2px;
    top:254px;
    width:321px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../导购-选客户_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:2px;
    top:2px;
    width:325px;
    height:45px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:51px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:321px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../导购-选客户_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:11px;
    top:12px;
    width:35px;
    height:25px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:25px;
}

.u5 {
    position:absolute;
    left:2px;
    top:4px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../导购-选客户_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:10px;
    top:57px;
    width:303px;
    height:37px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:43px;
}

.u7 {
    position:absolute;
    left:2px;
    top:10px;
    width:299px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../导购-选客户_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:280px;
    top:62px;
    width:30px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u9 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:10px;
    top:104px;
    width:303px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../导购-选客户_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:4px;
    width:317px;
    height:3px;
}

.u11 {
    position:absolute;
    left:10px;
    top:125px;
    width:317px;
    height:10px;
    
}

.u12 {
    position:absolute;
    left:10px;
    top:143px;
    width:303px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../导购-选客户_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:317px;
    height:3px;
}

.u13 {
    position:absolute;
    left:10px;
    top:164px;
    width:317px;
    height:10px;
    
}

.u14 {
    position:absolute;
    left:10px;
    top:182px;
    width:303px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_line {
    background-image: url('../导购-选客户_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:0px;
    top:4px;
    width:317px;
    height:3px;
}

.u15 {
    position:absolute;
    left:10px;
    top:203px;
    width:317px;
    height:10px;
    
}

.u16 {
    position:absolute;
    left:10px;
    top:221px;
    width:303px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_line {
    background-image: url('../导购-选客户_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:317px;
    height:3px;
}

.u17 {
    position:absolute;
    left:10px;
    top:242px;
    width:317px;
    height:10px;
    
}

.u18 {
    position:absolute;
    left:10px;
    top:260px;
    width:303px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../导购-选客户_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:317px;
    height:3px;
}

.u19 {
    position:absolute;
    left:10px;
    top:281px;
    width:317px;
    height:10px;
    
}

.u20 {
    position:absolute;
    left:10px;
    top:299px;
    width:303px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_line {
    background-image: url('../导购-选客户_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:317px;
    height:3px;
}

.u21 {
    position:absolute;
    left:10px;
    top:320px;
    width:317px;
    height:10px;
    
}

.u22 {
    position:absolute;
    left:10px;
    top:338px;
    width:303px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_line {
    background-image: url('../导购-选客户_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:0px;
    top:4px;
    width:317px;
    height:3px;
}

.u23 {
    position:absolute;
    left:10px;
    top:359px;
    width:317px;
    height:10px;
    
}

.u24 {
    position:absolute;
    left:10px;
    top:377px;
    width:303px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../导购-选客户_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:317px;
    height:3px;
}

.u25 {
    position:absolute;
    left:10px;
    top:398px;
    width:317px;
    height:10px;
    
}

.u26 {
    position:absolute;
    left:10px;
    top:416px;
    width:303px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../导购-选客户_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:317px;
    height:3px;
}

.u27 {
    position:absolute;
    left:10px;
    top:437px;
    width:317px;
    height:10px;
    
}

.u28 {
    position:absolute;
    left:10px;
    top:457px;
    width:303px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_line {
    background-image: url('../导购-选客户_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:0px;
    top:4px;
    width:317px;
    height:3px;
}

.u29 {
    position:absolute;
    left:10px;
    top:478px;
    width:317px;
    height:10px;
    
}

