.bread-crumbs-box:before,
.bread-crumbs-box:after {
  content: " ";
  display: table;
}
.bread-crumbs-box:after {
  clear: both;
}
.bread-crumbs:before,
.bread-crumbs:after {
  content: " ";
  display: table;
  zoom: 1;
  clear: both;
}
.bread-crumbs > li {
  position: relative;
  padding-left: 5px;
  height: 25px;
  line-height: 25px;
  float: left;
}
.bread-crumbs > li:hover {
  /*span {
                background: @btn-icon-color;
            }*/
  /*.icon-dropdown {
                border-color: transparent transparent transparent #fff;
            }*/
}
.bread-crumbs > li:hover a {
  color: #4fb0d1;
}
.bread-crumbs > li a {
  padding: 0 5px;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
}
.bread-crumbs > li span {
  display: inline-block;
  vertical-align: top;
  height: 25px;
  width: 20px;
  cursor: pointer;
}
.bread-crumbs > li span:hover .icon-dropdown {
  border-color: transparent transparent transparent #4fb0d1;
}
.bread-crumbs > li .on .icon-dropdown {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.bread-crumbs > li .icon-dropdown {
  -moz-transform-origin: 25% 50%;
  -ms-transform-origin: 25% 50%;
  -o-transform-origin: 25% 50%;
  -webkit-transform-origin: 25% 50%;
  transform-origin: 25% 50%;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
  position: absolute;
  border-style: solid;
  border-width: 4px 6px;
  border-color: transparent transparent transparent #dddddd;
  top: 9px;
  right: 0px;
}
.bread-crumbs .last:hover {
  background-color: transparent;
}
.bread-crumbs .last:hover a {
  cursor: text;
  color: #000000;
}
.selector-panel {
  position: absolute;
  z-index: 20;
}
.selector-panel:before,
.selector-panel:after {
  content: " ";
  display: table;
  zoom: 1;
  clear: both;
}
.selector-panel ol {
  vertical-align: top;
  position: relative;
  margin-left: -5px;
  background: #fff;
  display: inline-block;
  -moz-box-shadow: 1px 1px 5px #bababa;
  -webkit-box-shadow: 1px 1px 5px #bababa;
  box-shadow: 1px 1px 5px #bababa;
  border: 1px solid #e7e7e7;
}
.selector-panel ol:first-child {
  margin-left: 0;
}
.selector-panel ol li {
  position: relative;
  min-width: 50px;
  height: 25px;
  line-height: 25px;
  padding: 0 20px;
  cursor: pointer;
}
.selector-panel ol li:hover {
  background: #4fb0d1;
  color: #fff;
}
.selector-panel ol li:hover .branch-item {
  border-color: transparent transparent transparent #fff;
}
.selector-panel ol .branch-item {
  right: 2px;
  top: 10px;
  position: absolute;
  border: solid;
  border-color: transparent transparent transparent #dddddd;
  border-width: 5px;
}
.selector-panel ol .actived {
  background: #4fb0d1;
  border-color: transparent transparent transparent #fff;
  color: #fff;
}
.selector-panel ol .actived .branch-item {
  border-color: transparent transparent transparent #fff;
}
.selector-panel .top0 {
  margin-top: 0px;
}
.selector-panel .top1 {
  margin-top: 25px;
}
.selector-panel .top2 {
  margin-top: 50px;
}
.selector-panel .top3 {
  margin-top: 75px;
}
.selector-panel .top4 {
  margin-top: 100px;
}
.selector-panel .top5 {
  margin-top: 125px;
}
.selector-panel .top6 {
  margin-top: 150px;
}
.selector-panel .top7 {
  margin-top: 175px;
}
.selector-panel .top8 {
  margin-top: 200px;
}
.selector-panel .top9 {
  margin-top: 225px;
}
.selector-panel .top10 {
  margin-top: 250px;
}
.selector-panel .top11 {
  margin-top: 275px;
}
.selector-panel .top12 {
  margin-top: 300px;
}
.selector-panel .top13 {
  margin-top: 325px;
}
.selector-panel .top14 {
  margin-top: 350px;
}
.selector-panel .top15 {
  margin-top: 375px;
}
.selector-panel .top16 {
  margin-top: 400px;
}
.selector-panel .top17 {
  margin-top: 425px;
}
.selector-panel .top18 {
  margin-top: 450px;
}
.selector-panel .top19 {
  margin-top: 475px;
}
.selector-panel .top20 {
  margin-top: 500px;
}
.selector-panel .top21 {
  margin-top: 525px;
}
.selector-panel .top22 {
  margin-top: 550px;
}
.selector-panel .top23 {
  margin-top: 575px;
}
.selector-panel .top24 {
  margin-top: 600px;
}
.selector-panel .top25 {
  margin-top: 625px;
}
.selector-panel .top26 {
  margin-top: 650px;
}
.selector-panel .top27 {
  margin-top: 675px;
}
.selector-panel .top28 {
  margin-top: 700px;
}
.selector-panel .top29 {
  margin-top: 725px;
}
.selector-panel .top30 {
  margin-top: 750px;
}
.selector-panel .top31 {
  margin-top: 775px;
}
.selector-panel .top32 {
  margin-top: 800px;
}
.selector-panel .top33 {
  margin-top: 825px;
}
.selector-panel .top34 {
  margin-top: 850px;
}
.selector-panel .top35 {
  margin-top: 875px;
}
.selector-panel .top36 {
  margin-top: 900px;
}
.selector-panel .top37 {
  margin-top: 925px;
}
.selector-panel .top38 {
  margin-top: 950px;
}
.selector-panel .top39 {
  margin-top: 975px;
}
.selector-panel .top40 {
  margin-top: 1000px;
}
.selector-panel .top41 {
  margin-top: 1025px;
}
.selector-panel .top42 {
  margin-top: 1050px;
}
.selector-panel .top43 {
  margin-top: 1075px;
}
.selector-panel .top44 {
  margin-top: 1100px;
}
.selector-panel .top45 {
  margin-top: 1125px;
}
.selector-panel .top46 {
  margin-top: 1150px;
}
.selector-panel .top47 {
  margin-top: 1175px;
}
.selector-panel .top48 {
  margin-top: 1200px;
}
.selector-panel .top49 {
  margin-top: 1225px;
}
.selector-panel .top50 {
  margin-top: 1250px;
}
.selector-panel .top51 {
  margin-top: 1275px;
}
.selector-panel .top52 {
  margin-top: 1300px;
}
.selector-panel .top53 {
  margin-top: 1325px;
}
.selector-panel .top54 {
  margin-top: 1350px;
}
.selector-panel .top55 {
  margin-top: 1375px;
}
.selector-panel .top56 {
  margin-top: 1400px;
}
.selector-panel .top57 {
  margin-top: 1425px;
}
.selector-panel .top58 {
  margin-top: 1450px;
}
.selector-panel .top59 {
  margin-top: 1475px;
}
.selector-panel .top60 {
  margin-top: 1500px;
}
.selector-panel .top61 {
  margin-top: 1525px;
}
.selector-panel .top62 {
  margin-top: 1550px;
}
.selector-panel .top63 {
  margin-top: 1575px;
}
.selector-panel .top64 {
  margin-top: 1600px;
}
.selector-panel .top65 {
  margin-top: 1625px;
}
.selector-panel .top66 {
  margin-top: 1650px;
}
.selector-panel .top67 {
  margin-top: 1675px;
}
.selector-panel .top68 {
  margin-top: 1700px;
}
.selector-panel .top69 {
  margin-top: 1725px;
}
.selector-panel .top70 {
  margin-top: 1750px;
}
.selector-panel .top71 {
  margin-top: 1775px;
}
.selector-panel .top72 {
  margin-top: 1800px;
}
.selector-panel .top73 {
  margin-top: 1825px;
}
.selector-panel .top74 {
  margin-top: 1850px;
}
.selector-panel .top75 {
  margin-top: 1875px;
}
.selector-panel .top76 {
  margin-top: 1900px;
}
.selector-panel .top77 {
  margin-top: 1925px;
}
.selector-panel .top78 {
  margin-top: 1950px;
}
.selector-panel .top79 {
  margin-top: 1975px;
}
.selector-panel .top80 {
  margin-top: 2000px;
}
.selector-panel .top81 {
  margin-top: 2025px;
}
.selector-panel .top82 {
  margin-top: 2050px;
}
.selector-panel .top83 {
  margin-top: 2075px;
}
.selector-panel .top84 {
  margin-top: 2100px;
}
.selector-panel .top85 {
  margin-top: 2125px;
}
.selector-panel .top86 {
  margin-top: 2150px;
}
.selector-panel .top87 {
  margin-top: 2175px;
}
.selector-panel .top88 {
  margin-top: 2200px;
}
.selector-panel .top89 {
  margin-top: 2225px;
}
.selector-panel .top90 {
  margin-top: 2250px;
}
.selector-panel .top91 {
  margin-top: 2275px;
}
.selector-panel .top92 {
  margin-top: 2300px;
}
.selector-panel .top93 {
  margin-top: 2325px;
}
.selector-panel .top94 {
  margin-top: 2350px;
}
.selector-panel .top95 {
  margin-top: 2375px;
}
.selector-panel .top96 {
  margin-top: 2400px;
}
.selector-panel .top97 {
  margin-top: 2425px;
}
.selector-panel .top98 {
  margin-top: 2450px;
}
.selector-panel .top99 {
  margin-top: 2475px;
}
.selector-panel .top100 {
  margin-top: 2500px;
}
