body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../导购-名片-旧_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:7px;
    width:320px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:604px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../导购-名片-旧_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:9px;
    top:7px;
    width:320px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../导购-名片-旧_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:13px;
    top:243px;
    width:82px;
    height:74px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:74px;
}

.u5 {
    position:absolute;
    left:2px;
    top:29px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:105px;
    top:241px;
    width:211px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../导购-名片-旧_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:13px;
    top:351px;
    width:82px;
    height:74px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:74px;
}

.u8 {
    position:absolute;
    left:2px;
    top:29px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:105px;
    top:351px;
    width:211px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../导购-名片-旧_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:13px;
    top:461px;
    width:82px;
    height:76px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:76px;
}

.u11 {
    position:absolute;
    left:2px;
    top:30px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:105px;
    top:461px;
    width:207px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../导购-名片-旧_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:15px;
    top:63px;
    width:212px;
    height:35px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:218px;
    height:41px;
}

.u14 {
    position:absolute;
    left:2px;
    top:10px;
    width:208px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../导购-名片-旧_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:179px;
    top:63px;
    width:48px;
    height:35px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:35px;
}

.u16 {
    position:absolute;
    left:2px;
    top:10px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:15px;
    top:114px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:105px;
    top:134px;
    width:210px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../导购-名片-旧_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:13px;
    top:134px;
    width:81px;
    height:74px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:81px;
    height:74px;
}

.u20 {
    position:absolute;
    left:2px;
    top:29px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:285px;
    top:192px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:223px;
    top:192px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../导购-名片-旧_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:250px;
    top:63px;
    width:74px;
    height:35px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:41px;
}

.u24 {
    position:absolute;
    left:2px;
    top:10px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../导购-名片-旧_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:314px;
    height:3px;
}

.u25 {
    position:absolute;
    left:15px;
    top:101px;
    width:314px;
    height:10px;
    
}

.u26_line {
    background-image: url('../导购-名片-旧_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:0px;
    top:4px;
    width:314px;
    height:3px;
}

.u26 {
    position:absolute;
    left:15px;
    top:210px;
    width:314px;
    height:10px;
    
}

.u27_line {
    background-image: url('../导购-名片-旧_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:314px;
    height:3px;
}

.u27 {
    position:absolute;
    left:15px;
    top:318px;
    width:314px;
    height:10px;
    
}

.u28 {
    position:absolute;
    left:17px;
    top:223px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:286px;
    top:302px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:285px;
    top:409px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_line {
    background-image: url('../导购-名片-旧_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:311px;
    height:3px;
}

.u31 {
    position:absolute;
    left:15px;
    top:429px;
    width:311px;
    height:10px;
    
}

.u32 {
    position:absolute;
    left:17px;
    top:330px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_line {
    background-image: url('../导购-名片-旧_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:314px;
    height:3px;
}

.u33 {
    position:absolute;
    left:15px;
    top:537px;
    width:314px;
    height:10px;
    
}

.u34 {
    position:absolute;
    left:17px;
    top:439px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:286px;
    top:517px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:241px;
    top:409px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u37 {
    position:absolute;
    left:12px;
    top:356px;
    width:320px;
    height:188px;
    overflow:hidden;
}

#pd0u37 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:188px;
    
}

.u38_normal {
    background-image: url('../导购-名片-旧_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:1px;
    top:2px;
    width:315px;
    height:148px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:321px;
    height:154px;
}

.u39 {
    position:absolute;
    left:2px;
    top:66px;
    width:311px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:11px;
    top:17px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../导购-名片-旧_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:58px;
    top:42px;
    width:60px;
    height:58px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:58px;
}

.u42 {
    position:absolute;
    left:2px;
    top:21px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../导购-名片-旧_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:178px;
    top:42px;
    width:60px;
    height:58px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:58px;
}

.u44 {
    position:absolute;
    left:2px;
    top:21px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_line {
    background-image: url('../导购-名片-旧_files/u45_line.png');
}

.u45_line {
    position:absolute;
    left:0px;
    top:4px;
    width:315px;
    height:3px;
}

.u45 {
    position:absolute;
    left:1px;
    top:108px;
    width:315px;
    height:10px;
    
}

.u46 {
    position:absolute;
    left:145px;
    top:124px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../导购-名片-旧_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:259px;
    top:73px;
    width:16px;
    height:16px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u48 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../导购-名片-旧_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:118px;
    top:557px;
    width:85px;
    height:42px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:85px;
    height:42px;
}

.u50 {
    position:absolute;
    left:2px;
    top:13px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_line {
    background-image: url('../导购-名片-旧_files/u51_line.png');
}

.u51_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:42px;
}

.u51 {
    position:absolute;
    left:102px;
    top:557px;
    width:10px;
    height:42px;
    
}

.u52 {
    position:absolute;
    left:117px;
    top:302px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u53 {
    position:absolute;
    left:7px;
    top:7px;
    width:323px;
    height:537px;
    overflow:hidden;
}

#pd0u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:323px;
    height:537px;
    
}

.u54_normal {
    background-image: url('../导购-名片-旧_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:2px;
    top:2px;
    width:315px;
    height:532px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:321px;
    height:538px;
}

.u55 {
    position:absolute;
    left:2px;
    top:258px;
    width:311px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../导购-名片-旧_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:2px;
    top:2px;
    width:315px;
    height:51px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:321px;
    height:57px;
}

.u57 {
    position:absolute;
    left:2px;
    top:18px;
    width:311px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../导购-名片-旧_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:15px;
    top:15px;
    width:35px;
    height:25px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:25px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:135px;
    top:20px;
    width:80px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:15px;
    top:63px;
    width:249px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:15px;
    top:89px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_line {
    background-image: url('../导购-名片-旧_files/u63_line.png');
}

.u63_line {
    position:absolute;
    left:0px;
    top:4px;
    width:302px;
    height:3px;
}

.u63 {
    position:absolute;
    left:15px;
    top:112px;
    width:302px;
    height:10px;
    
}

.u64 {
    position:absolute;
    left:15px;
    top:125px;
    width:249px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:15px;
    top:151px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_line {
    background-image: url('../导购-名片-旧_files/u66_line.png');
}

.u66_line {
    position:absolute;
    left:0px;
    top:4px;
    width:302px;
    height:3px;
}

.u66 {
    position:absolute;
    left:15px;
    top:172px;
    width:302px;
    height:10px;
    
}

.u67 {
    position:absolute;
    left:15px;
    top:187px;
    width:249px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:15px;
    top:214px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_line {
    background-image: url('../导购-名片-旧_files/u69_line.png');
}

.u69_line {
    position:absolute;
    left:0px;
    top:4px;
    width:302px;
    height:3px;
}

.u69 {
    position:absolute;
    left:15px;
    top:235px;
    width:302px;
    height:10px;
    
}

.u70 {
    position:absolute;
    left:15px;
    top:248px;
    width:249px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:15px;
    top:274px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_line {
    background-image: url('../导购-名片-旧_files/u72_line.png');
}

.u72_line {
    position:absolute;
    left:0px;
    top:4px;
    width:302px;
    height:3px;
}

.u72 {
    position:absolute;
    left:15px;
    top:297px;
    width:302px;
    height:10px;
    
}

.u73 {
    position:absolute;
    left:15px;
    top:310px;
    width:249px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:15px;
    top:336px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_line {
    background-image: url('../导购-名片-旧_files/u75_line.png');
}

.u75_line {
    position:absolute;
    left:0px;
    top:4px;
    width:302px;
    height:3px;
}

.u75 {
    position:absolute;
    left:15px;
    top:356px;
    width:302px;
    height:10px;
    
}

.u76 {
    position:absolute;
    left:15px;
    top:370px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:15px;
    top:397px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_line {
    background-image: url('../导购-名片-旧_files/u78_line.png');
}

.u78_line {
    position:absolute;
    left:0px;
    top:4px;
    width:302px;
    height:3px;
}

.u78 {
    position:absolute;
    left:15px;
    top:418px;
    width:302px;
    height:10px;
    
}

.u79 {
    position:absolute;
    left:15px;
    top:431px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:15px;
    top:453px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_line {
    background-image: url('../导购-名片-旧_files/u81_line.png');
}

.u81_line {
    position:absolute;
    left:0px;
    top:4px;
    width:302px;
    height:3px;
}

.u81 {
    position:absolute;
    left:15px;
    top:474px;
    width:302px;
    height:10px;
    
}

.u82 {
    position:absolute;
    left:15px;
    top:488px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:15px;
    top:514px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:117px;
    top:192px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:117px;
    top:413px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../导购-名片-旧_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:29px;
    top:569px;
    width:19px;
    height:19px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
}

.u87 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../导购-名片-旧_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:228px;
    top:570px;
    width:19px;
    height:19px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
}

.u89 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_line {
    background-image: url('../导购-名片-旧_files/u90_line.png');
}

.u90_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:42px;
}

.u90 {
    position:absolute;
    left:213px;
    top:557px;
    width:10px;
    height:42px;
    
}

.u91 {
    position:absolute;
    left:58px;
    top:570px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:257px;
    top:570px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

