.list.nodata {
    text-align: center;
    font-size: 34px;
    border: solid 1px #F00;
    padding: 40px 0px;
    background-color: #FFF7DF;
    border-radius: 5px;
}
.list.nodata:after {
    content: '暂无数据';
}
.list.nodata table {
    display: none;
}
.list table {
    width: 100%;
    border: solid 1px #5392CC;
    border-right: none;
    border-bottom: none;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}
.list th,
.list td {
    border: solid 1px #5392CC;
    border-left: none;
    border-top: none;
    text-align: left;
    padding: 5px 5px;
}
.list th a,
.list td a {
    color: black;
    text-decoration: none;
}
.list th a:hover,
.list td a:hover {
    color: red;
    text-decoration: underline;
}
.list tr.header {
    background: #4767A2;
    color: #fff;
}
.list tr.header:hover {
    background: #4767A2;
}
.list tr:hover {
    background: #FFF6E9;
}
