.header {
  text-align: right;
  margin-bottom: 10px;
}
.header button {
  background-color: #EA960D;
  border: none;
  color: #fff;
  padding: 8px 40px;
  font-size: 14px;
  border-radius: 5px;
  /* font-family: "Microsoft YaHei"; */
  cursor: pointer;
  outline: none;
}
.header button:active {
  background: #FFA513;
}
.dialog-add ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dialog-add li {
  margin: 5px 0px;
}
.dialog-add input {
  font-size: 16px;
}
.dialog-add input,
.dialog-add textarea {
  width: 100%;
  padding: 2px 5px;
}
.dialog-add textarea {
  height: 60px;
  padding-right: 7px;
}
.list.nodata {
  text-align: center;
  font-size: 34px;
  border: solid 1px #F00;
  padding: 40px 0px;
  background-color: #FFF7DF;
  border-radius: 5px;
}
.list.nodata:after {
  content: '暂无数据';
}
.list.nodata table {
  display: none;
}
.list table {
  width: 100%;
  border: solid 1px #5392CC;
  border-right: none;
  border-bottom: none;
}
.list th,
.list td {
  border: solid 1px #5392CC;
  border-left: none;
  border-top: none;
  text-align: center;
  padding: 5px 5px;
  font-size: 14px;
  word-wrap: normal;
  word-break: keep-all;
}
.list tr.header {
  background: #4767A2;
  color: #fff;
}
.list tr.header:hover {
  background: #4767A2;
}
.list tr:hover {
  background: #FFF6E9;
}
.list .operate span {
  color: blue;
  cursor: pointer;
  font-size: 12px;
}
.list .operate span:hover {
  color: red;
}
.list img {
  max-height: 115px;
}
