.main {
    width: 900px;
}
.panel {
    margin-bottom: 10px;
}
.panel .header {
    height: initial;
    margin: 0px;
    padding: 2px 10px;
    font-size: 16px;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    border-bottom: solid 4px #607D8B;
}
.panel .header a {
    float: right;
    font-size: 12px;
    color: #9FA6AB;
    text-decoration: none;
}
.panel .header a:hover {
    color: #03A9F4;
}
.panel .header a .icon {
    margin-left: 10px;
}
.panel .list {
    border: solid 1px #D4D5DE;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    min-height: 175px;
}
.panel .list.nodata {
    text-align: center;
    font-size: 18px;
    /* border: solid 1px #F00; */
    /* padding: 40px 0px; */
    background-color: #f1f1f1;
    border-radius: 5px;
    line-height: 175px;
    /* color: #FF9800; */
}
.panel .list.nodata:after {
    content: '暂无数据';
}
.panel .list li {
    padding: 5px 10px;
    border-bottom: solid 1px #D4D5DE;
    font-size: 16px;
}
.panel .list li.loading,
.panel .list li.nodata {
    height: 175px;
    line-height: 175px;
    text-align: center;
    padding: 0px;
    font-size: 15px;
}
.panel .list li.loading::before,
.panel .list li.nodata::before {
    display: none;
}
.panel .list li:last-child {
    border-bottom: none;
}
.panel .list li::before {
    content: '';
    display: inline-block;
    /* background: #4C70B1; */
    background: #E29396;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    margin-right: 10px;
    position: relative;
    top: -3px;
}
.panel .list li a {
    text-decoration: none;
    color: #000;
}
.panel .list li span {
    float: right;
    color: #B9B9B9;
    font-size: 12px;
}
