
.panel-header {
    height: 500px;

    .tabs {
        list-style: none;
        margin: 10px 0px;
        padding: 0;
        text-align: center;
        position: absolute;
        top: 400px;

        &:after {
            content: '';
            display: block;
            clear: both;
        }

        li {
            margin: 0px 2px 0px 0px;
            padding: 8px 10px;
            background: #5475B9;
            float: left;
            border-radius: 2px 2px 0px 0px;
            width: 70px;
            font-weight: bold;
            color: #fff;
            cursor: pointer;

   
            &:last-child {
                border: none;
            }

            &:hover {
                background: #6C95E8;
            }
        }

        .home {
        }

        .area {
        }

        .town {
        }

        .happy {
        }

        .recommend {
        }

        .contact {
        }
    }
}
