


.main {
    /*width: 842px;*/
    /*width: 950px;*/
    margin: auto;

    >.header {
        margin-bottom: 10px;
        line-height: 40px;
        padding: 0px 10px;
        text-align: center;
        font-size: 30px;
    }

    .tabs {
        &.sale {
            text-align: right;
            margin-bottom: 15px;
            border: none !important;

            li {
                font-size: 14px !important;
            }
        }
    }


    .sub {
        font-size: 14px;

        .left {
            float: left;
            margin-left: 10px;
        }

        .right {
            float: right;
            margin-right: 10px;
        }

        &:after {
            display: block;
            content: "";
            clear: both;
        }
    }
}
