.panel-header {
  /*margin-top: 434px;*/
  margin-top: 540px;
  /*background-color: #228ECE;*/
  background-color: #EB7843;
  margin-bottom: 25px;
  border-radius: 5px 5px;
}
.panel-header .tabs {
  list-style: none;
  margin: -1px 0px;
  padding: 0;
  text-align: center;
}
.panel-header .tabs:after {
  content: '';
  display: block;
  clear: both;
}
.panel-header .tabs li {
  margin: 10px 2px 10px 0px;
  padding: 0px 10px;
  float: left;
  width: 75px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border-right: solid 1px #fff;
}
.panel-header .tabs li:first-child {
  margin-left: 5px;
}
.panel-header .tabs li:last-child {
  border: none;
  margin-right: 5px;
}
.panel-header .tabs li:hover {
  color: #F2E599;
}
