.panel-recommend {
  margin-top: 10px;
}
.panel-recommend .banner {
  background: #0D265C;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 40px;
  background: url('../img/banner-recommend.jpg') no-repeat;
  height: 55px;
  line-height: 55px;
}
.panel-recommend ul {
  list-style: none;
  /*padding: 0px;
        margin: 0px;*/
}
.panel-recommend .main {
  border: solid 1px #ddd;
  border-top: none;
  padding: 40px 20px;
}
.panel-recommend .timeline {
  border-bottom: dashed 1px #EA960D;
}
.panel-recommend .timeline:after {
  content: '';
  display: block;
  clear: both;
}
.panel-recommend .timeline li {
  float: left;
  background: #000;
  color: #fff;
  margin: 0px 5px 7px 5px;
  padding: 5px 0px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  width: 69px;
  text-align: center;
}
.panel-recommend .timeline li.on {
  background: #EA960D;
}
.panel-recommend .timeline li.on:before {
  content: '';
  display: inline-block;
  /* height: 8px; */
  /* background-color: #FE086E; */
  /* width: 8px; */
  position: relative;
  top: 24px;
  left: 25%;
  /* border-width: 8px; */
  border: solid 8px rgba(255, 0, 0, 0);
  border-top-color: #EA960D;
  border-left-color: rgba(0, 0, 255, 0);
  border-right-color: rgba(0, 128, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
}
.panel-recommend .timeline li:after {
  content: '';
  display: inline-block;
  height: 8px;
  background-color: #EA960D;
  width: 8px;
  position: relative;
  top: 30px;
  left: -34%;
}
.panel-recommend .list {
  padding: 0px;
  margin-left: 46px;
}
.panel-recommend .list:after {
  content: '';
  display: block;
  clear: both;
}
.panel-recommend .list .item {
  float: left;
  margin: 0px 15px 20px 15px;
}
.panel-recommend .list .item img {
  width: 240px;
}
.panel-recommend .list .item h3 {
  text-align: center;
  margin: 10px 0px;
  font-size: 17px;
  color: #DE8A00;
}
.panel-recommend .list .item .fields {
  font-size: 12px;
  line-height: 20px;
  padding-left: 10px;
}
.panel-recommend .footer {
  text-align: center;
}
.panel-recommend .footer button {
  /*background-color: #EA960D;*/
  background-color: #EC7241;
  border: none;
  color: #fff;
  padding: 8px 100px;
  font-size: 28px;
  border-radius: 10px;
  /* font-family: "Microsoft YaHei"; */
  cursor: pointer;
  outline: none;
}
.panel-recommend .footer button:active {
  background: #FFA513;
}
.dialog-recommend ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dialog-recommend li {
  margin: 5px 0px;
}
.dialog-recommend input,
.dialog-recommend textarea {
  width: 300px;
  padding: 2px 5px;
}
.dialog-recommend textarea {
  height: 100px;
}
