

.list {

    table {
        width: 100%;
        width: 100%;
        border: solid 1px #5392CC;
        border-right: none;
        border-bottom: none;
    }

    th,
    td {
        border: solid 1px #5392CC;
        border-left: none;
        border-top: none;
        text-align: center;
        padding: 2px 2px;
        font-size: 14px;
    }

    tr.header {
        background: #4767A2;
        color: #fff;

        &:hover {
            background: #4767A2;
        }
    }

    tr:hover {
        background: #FFF6E9;
    }
}
