

@green: #00b69a;
@grey-light: #b2bccc;
@grey-dark: #637994;

body {
    margin: 0;
    padding: 0;
    /*background:url('img/bg.jpg');*/
}

.left {
    float: left;
}

.right {
    float: right;
}


.clear{
    display: block;
    clear: both;
    content: "";
}


@border-color:#d0d5da;

.login-box {

    font-family: Microsoft YaHei, simhei ;
    font-size: 16px;
   
    .title{
        font-size:48px;
        margin-top:88px;
        height:80px;
        line-height:80px;
        text-align:center;
    }

    .content {

        margin-top:15px;
        &:after {
            .clear;
        }


        .login-panel {
            img {
                border: none;
            }

            margin:0px auto;
            width: 300px;
            border: 1px solid #dedae8;
            color: @grey-dark;
            border-radius:4px;
            vertical-align:middle;
            position:relative;
            background:#fff;


            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    height: 41px;
                }
            }


            .warm-box {
                text-align: center;
                background: #FFF6CB;
                border: 1px solid red;
                padding: 8px 16px;
                margin: 0px 5px;
                z-index: 2;
                color: red;

                span {
                    color: red;
                    padding-right: 10px;
                }
            }

            .hidden {
                display: none;
            }

            .tabs:after {
                .clear;
            }

            .select-tab {
                text-align: center;
                width: 100%;
                height: 40px;
                line-height: 40px;

                /*background:#36586e;*/
                background: #4B6FB0;
                color: #fff;
                font-size:18px;
            }


            .hover {

                background: #ffffff;
                color:#292929;

                .tab {
                    color: #292929;
                    margin:-1px 20px 0;
                    border-bottom:1px solid #d0d5da;
                    position:relative;

                    &:after {
                        position: absolute;
                        display: block;
                        border-style: solid;
                        border-color: transparent transparent @border-color transparent;
                        z-index: 2;
                        border-width: 6px 10px;
                        left: 43%;
                        top: 28px;
                        content: "";
                        height:0;
                        width:0px;
                    }

                }

                .selected-back {
                    position:absolute;
                    left: 43%;
                    top: 29px;
                    height:0;
                    width:0px;
                    border-style: solid;
                    border-color: transparent transparent #ffffff transparent;
                    z-index: 3;
                    border-width: 6px 10px;
                }
            }

            .user-label {

                margin:1px 20px 0;padding-right:2px;

                input{
                    width:226px;
                    height: 16px;
                    line-height:16px;
                    border: 1px solid #d3dcea;
                    border-top:0;
                    padding: 12px 16px;
                    margin:0;
                    font-size:14px;
                    border-top-left-radius:0;
                    border-top-right-radius:0;
                    border-bottom-left-radius:4px;
                    border-bottom-right-radius:4px;

                    
                }
                
                
            }

            .first{

                margin-top:30px!important;

                input{
                    border-top: 1px solid #d3dcea;
                    border-top-left-radius:4px;
                    border-top-right-radius:4px;
                    border-bottom-left-radius:0;
                    border-bottom-right-radius:0;
                      
                }
            }


            .get-pas {
                margin: 16px 20px 0;
                font-size:12px;
                
                >a{
                    color:#a0a9ae;
                    text-decoration:underline;
                }
            }

            .login-bt {
                margin:20px 20px 0;
                line-height: 42px;
                background: #8cc96e;
                color: white;
                text-align: center;
                cursor: pointer;
                border-radius:4px;
            }

            .disabled {
                background: @grey-light;
                cursor: not-allowed;
            }

            .login-link {
                margin-top: 18px;
                height:48px;
                line-height:48px;
                background:#dceaef;
                color:#a0a9ae;
                font-size:12px;

                a {
                    margin-left: 20px;
                    text-decoration:none;
                    color:#a0a9ae;

                    .link-icon {
                        vertical-align:middle;
                    }

                    &:hover{
                        color:#5ac3ca;
                    }
                }
            }

            
        }
    }
}
